/*
Fonte Principal: Mariad Pro
Cores:
    #68BC68
    #4662CC
*/ 


@font-face {
    font-family: 'Myriad Pro';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../Fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
    

:root{

    /*CORES*/
    --primaria: #4662CC;
    --primaria_clara: #7791F2;
    --primaria_escura:#3049A6;
    --secundaria: #68BC68;
    --secundaria_clara: #9FE39F;
    --secundaria_escura: #4B964B;
    --light: #FFFFFF;
    --light_escura: #E5DADA;
    --dark: #121212;
    --dark_clara: #1F1F1F;
    --danger: #DC3545;
    --warning: #FFC107;
    --success: #28A745;
    --inactive: #6C757D;

}

html{
    font-size: 16px;
    scroll-behavior: smooth;
}

h1{
    font-style: normal;
    font-weight: 400;
    font-size: 2.98rem;
    line-height: 110%;
}  

h2{
    font-style: normal;
    font-weight: 400;
    font-size: 2.488rem;
    line-height: 110%;
}  

h3{
    font-style: normal;
    font-weight: 400;
    font-size: 2.074rem;
    line-height: 110%;
}  

h4{
    font-style: normal;
    font-weight: 400;
    font-size: 1.728rem;
    line-height: 120%;
}  

h5{

    font-style: normal;
    font-weight: 400;
    font-size: 1.44rem;
    line-height: 120%;    
}  

h6{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 120%;
}  

p{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
}


.small{
    font-style: normal;
    font-weight: 400;
    font-size: 0.78rem;
    line-height: 150%;
}

.strong{
    font-weight: 700;
}

.high-emphasis{
    opacity: 100%;
}

.medium-emphasis{
    opacity: 85%;
}

.low-emphasis{
    opacity: 70%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Myriad Pro',sans-serif;
    color: var(--light);
}

body{
    position: relative;
    width: 100vw;  
    background: linear-gradient(90deg, var(--secundaria) 0.20%, var(--primaria) 100%);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
    
}
   
body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
}
  
body::-webkit-scrollbar-track {
    background-color: transparent;
}

.nav-flexbox{
    display: flex;
    padding: 10px 20px;
    width: 100%;
    height: 5%;
    align-items: center;
    justify-content:space-between;
    overflow-x: hidden;
}

.nav-flexbox > img{
    height: auto;
    width: 60px;
}

.nav-flexbox > ul{
    display: flex;
    width: auto;
    height: 100%;
    justify-content: space-evenly;
}

.nav-flexbox > ul > li{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.nav-flexbox > ul > li > a{
    margin: 0 10px;
    text-decoration: none;
    color: var(--light);
    font-weight: 700;
}

.div-inicio{
    display: flex;
    width: 100%;
    min-height: 200px;
    height: 600px;
    max-height: 700px;
}

.inicio-esquerda{
    display: flex;
    width: 30%;
    height: 100%;
    align-items:center;
    justify-content: center;
}

.img-capa{
    justify-self: center;
    align-self: center;
}

.inicio-direita{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items:flex-start;
    justify-content: center;
    gap: 15px;
}

span.verde{
    color: var(--secundaria_clara);
    font-weight: 700;
}

.btn-cta-azul{
    background-color: var(--primaria);
    border-radius: 20px;
    min-width: 150px;
    width: 240px;
    max-width: 300px;
    min-height: 40px;
    height: 50px;
    max-height: 60px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
    border: none;
    margin-top: 5px;
    font-weight: 700;
}

.btn-cta-azul:hover{
    background-color: var(--primaria_clara);
    color: var(--light_escura);
    cursor: pointer;
}

.txt-menu{
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 25px ;
}

/* FLIP CARDS */

    
.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 3rem auto;
    width: 100%;
    padding: 0 1rem ;
}

.last-card{
    height: 420px;
    max-height: 420px;
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    perspective: 1000px;
}
.card {
    min-height: 200px;
    height: 420px;
    max-height: 420px;
    position: relative;
    perspective: 1000px;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
}

.card .front, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.7s;
}
  
      
.card .front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
      
.card .back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 
.card.flip .front {
    transform: rotateY(180deg);
}
  
.card.flip .back {
    transform: rotateY(0);
}  
.icone-servicos{
    justify-content: center;
    align-items: center;
}

.servico{
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.descricao-servico{
    width: 100%;
    padding: 15px;
    text-align: justify;
}


.desc-cta{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.cta-sevicos{
    min-width: 150px;
    width: 240px;
    max-width: 300px;
    min-height: 40px;
    height: 50px;
    max-height: 60px;
    filter: drop-shadow(2px 5px 10px rgba(0, 0, 0, 0.4));
    background-color: var(--secundaria);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.font-dark{
    color: var(--dark);
}

.cta-sevicos:hover{
    background-color: var(--secundaria_clara);
    font-weight: 700;
}

.div-sobre{
    width: 100%;
}

.container-sobre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 100%;    
    padding: 0 1rem ;    
}

.sobre{
    display: flex;
    min-width: 240px;
    width: 480px;
    max-width: 100%;
    min-height: 125px;
    height: 250px;
    max-height: 250px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 1rem;
    overflow: hidden;
}

.sobre-esquerda{
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sobre-direita{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.sobre-icone{
    display: flex;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.sobre-titulo{
    width: 100%;
    overflow: hidden;
}

.sobre-descricao{
    width: 100%;
    overflow: hidden;
    text-align: justify;
}

.div-trofeus{
    display: flex;
    width: 100%;
}

.trofeus-esquerda{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}


.trofeus-direita{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}

.premio{
    display: flex;
    margin-top: 15px;
}





/*DESKTOP*/
@media only screen and (min-width:1024px) and (max-width:1600px) {
    html{
        font-size: 14px;
    }

    .container-sobre{
        gap: 0.8rem;
        margin: 1rem auto;
    }

    .sobre{
        width: 315px;
        height: 300px;
    }

    .sobre-direita{
        width: 65%;
    }

    .sobre-esquerda{
        width: 35%;
    }

    .imgpremios{
        scale: 0.7;
    }

}

/*Tablet e Laptops*/
@media only screen and (min-width:768px) and (max-width:1024px) {
    html{
        font-size: 14px;
    }

    .inicio-esquerda{
        width: 45%;
    }

    .img-capa{
        justify-self: center;
        align-self: center;
        width: 300px;
        height: 300px;
    }

    .inicio-direita{
        width: 55%;
     }

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    } 

    .container-sobre{
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem;
    }

    .sobre{
        width: 360px;
    }

    .sobre-direita{
        width: 60%;
    }

    .sobre-esquerda{
        width: 40%;
    }

    .imgpremios{
        scale: 0.5;
    }
}

/*Celulares*/
@media only screen and (min-width:480px) and (max-width: 768px) {
    html{
        font-size: 12px;
    }

    .inicio-esquerda{
        width: 50%;
    }
    
    .img-capa{
        justify-self: center;
        align-self: center;
        width: 250px;
        height: 250px;
    }
    
    .inicio-direita{
       width: 45%;
    }

    .btn-cta-azul{
        width: 100px;
        height: 30px;
    }

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .card, .last-card{
        height: 200px;
    }

    .container-sobre{
        grid-template-columns: 1fr;   
        gap: 2rem;
    }

    .sobre{
        width: 100%;
    }

    .imgpremios{
        scale: 0.3;
    }

    .div-trofeus{
        flex-direction: column;
    }

    .trofeus-esquerda{
        float: right;
        width: 100%;
        height: 300px;
    }

    .trofeus-direita{
        float: left;
        width: 100%;
        padding: 25px;
    }
}


/* Small Celulares */
@media only screen and (max-width: 480px) {
    html{
        font-size: 10px;
    }

    .div-inicio{
        height: 450px;
    }
    
    .inicio-esquerda{
        width: 50%;
    }
    
    .img-capa{
        justify-self: center;
        align-self: center;
        width: 230px;
        height: 230px;
    }
    
    .inicio-direita{
       width: 45%;
    }

    .btn-cta-azul{
        width: 100px;
        height: 30px;
    }
    .cards-grid {
        grid-template-columns: 1fr;
        padding: 0 2rem ;
    }

    .card, .last-card{
        height: 200px;
    }

    .container-sobre{
        grid-template-columns: 1fr;    
    }

    .sobre{
        width: 100%;
    }

    .div-trofeus{
        flex-direction: column;
    }

    .trofeus-esquerda{
        display: none;
    }

    .trofeus-direita{
        float: left;
        width: 100%;
        padding: 25px;
    }

}

  
